html {
    width:100%;
    height:100%;
    
}

body{
    margin: 0px;
}

nav ul{
    font-size: 20px;
    font-weight: 600;
    top:10px;
    display: flex;
    justify-content: center;
    height: 80px;
    list-style: none;
    background-color: rgba(0,0,0, 0.7);
    z-index: 1000;
    backdrop-filter: blur(10px);
    display: flex;
    margin-top: 0;
   
   
}


nav ul li{
    padding-top: 20px;
    margin: 0 30px;
    width: 120px;
    text-align: center;
   
}


nav ul a{
    text-decoration: none;
}


.main-slider{
    display: flex;
    margin-top: 0;
    height: 700px;
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-image: url("background2.jpg");
    background-position: left;
    background-repeat: no-repeat;                                                                                                                   
    background-attachment: fixed;
    background-size: cover;
    
}

.main-slider a:visited{
    color: white;
}

.main-slider a:link{
    color: white;
}



#human-missions{
    width: 50vh;
    margin-left: 18%;
    margin-top: 10%;
    height:43vh;
    border-radius: 10%;
    border: 2px rgb(127, 127, 216) solid;
    position: relative;
}


#human-missions h3{
    position: absolute;
    bottom: 0;
    left: 40px;
}

#human-mission img{
    height: 100%;
    width: 100%;
}


#non-human-missions{
    background-color: green;
    width: 50vh;
    margin-left: 15%;
    height:43vh;
    margin-top: 10%;
    border-radius: 10%;
    border: 2px rgb(127, 127, 216) solid;
    position: relative;
}

#non-human-missions h3{
    position: absolute;
    bottom: 0;
    left: 40px;
}

.sub-header1 img{
    height: 100%;
    width: 100%;
    border-radius: 10%;
}



/*background-position: center;
    background-repeat: no-repeat;                                                                                                                   
    background-attachment: fixed;
    background-size: cover;*/